p,
a,
h3,
h5 {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

input {
	padding: 4px;
}

span {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	background-color: lightgray;
	padding: 4px;
}

p {
	font-size: 14px;
}

h5 {
  margin: 10px 0px;
}